/**
 * Created by Adam Wendell on 2015-11-02.
 */

/* Flexing it up with layout*/

nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    list-style: none;
    margin: 0;


}


article > article {
    display: none;
}

.show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: tomato;
    text-align: center;
    overflow-x: auto;
}

aside, footer {
    width: 100vw;

}

footer {
    height: 10vh;
    text-align: center;
}

footer p {
    margin: 0;
}










/* Nav styling*/

figure img {
    display: none;
}

figure img:hover {
    zoom: 1.05;
}
figcaption {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}


/*Color */

body {
    background: -webkit-linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* Chrome 10+, Saf5.1+ */ /* FF3.6+ */ /* IE10 */ /* Opera 11.10+ */
    background:         -webkit-linear-gradient(0deg, #70e1f5 10%, #ffd194 90%);
    background:         linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* W3C */

}


/*Contact */
#contact {
    width: 600px;
    margin-top: 25px;
}

#contact input, #contact textarea {
    padding: 5px;
    width: 471px;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact textarea {
    height: 90px;
}

#contact textarea:focus, #contact input:focus {
    border: 2px solid #900;
}

#contact input.submit-button {
    width: 100px;
    float: right;
    background-color: green;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
}


@media (min-width: 800px) {
    .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 60vw;
        border-radius: 2em;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    #websmith, #ember, #angular, #react, #backbone {
        height: 73vh;
    }
    aside {
        width: 20vw;
        text-align: center;
    }

    figure img {
        display: inline-block;
        height: 10vh;
        width: auto;
    }

    .show {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }


    body {
        max-height: 100vh;
    }

    header {
        max-height: 15vh;

    }
    /* Colors */

}

